{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/acercade.css') }}">

<div class="jumbotron">
    <h1> ASOTAMI </h1>
    <p class="lead">El taekwondoes un sdsdsdsds deporte de combate moderno, el cual fue dado a conocer como "Taekwondo" en el año
        1955 por El General Choi, siendo convertido en deporte olímpico de combate desde el año de 1988, en los J.J.O.O.
        de Los Ángeles, en E.E.U.U. donde fue presentado como deporte de exhibición hasta su reconocimiento deportivo
        olímpico en los Juegos Olímpicos de Sidney 2000. Si bien, hay dos modalidades de competencia, el taekwondo
        promovido por la WTF (World Taekwondo Federation) es reconocido como deporte olímpico, el arte promovido por la
        ITF (International Taekwon-Do Federation) también desarrolla sus propios campeonatos como disciplina deportiva,
        teniendo amplia repercusión y reconocimiento alrededor del mundo</p>

</div>

{% endblock %}