{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/principal.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container" style="border-style:dotted ; margin-left: 10%">

  <div class="row" style="width: 150%">

    <div class="col-sm-7" >

      <div class="jumbotron">
        <h1 class="display-4">Unete a nuestro equipo!</h1>
        <p class="lead">Aprende el camino de la defensa personal sin armas</p>
        <p>Visitanos en Costa Rica, Puntarenas, Montres de oro, Miramar, frente al banco nacional</p>
        <i id ="icon1" class="fa fa-whatsapp" ></i>
        <i id ="icon2" class="fa fa-facebook-square"></i>
        
      </div>

    </div>

    <div class="col-sm">
      <img style="max-width: 60% ;" src="https://scontent.fsyq1-1.fna.fbcdn.net/v/t31.18172-8/18121625_1098097673666928_430024877425142000_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=-5Fm163SrW4AX87vBzA&_nc_ht=scontent.fsyq1-1.fna&oh=00_AT8ybts-uS7E-RxhrRiTcCToyWP8dQPXB6bpc1KTrFuyUg&oe=631DEAA2" alt="">

      
    </div>

  
  </div>
</div>

{% endblock %}