#icon1 {
    
    color: green;
  
}

#icon2

{
    font-size:44px;
    padding-left: 200PX;
    padding-top: 45px;
    position: absolute;
    color: blue;
  
}


#icon3

{
    font-size:44px;
    padding-left: 80PX;
    padding-top: 45px;
    position: absolute;
    color: blue; 
}